<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Slide Editor</title>
    <link href="../static/slide.css" rel="stylesheet">
    <style>
        #preview-container {
            border: 5px;
        }

        #preview-image {
            max-width: 80%;
            height: 80%;
        }

        .card-img {
            width: 128px;
            height: 100px
        }
    </style>
</head>

<body>
    <!-- 現在のスライド -->
    <h1>Slide Editor</h1>
    <div id="preview-container">
        <img id="preview-image" src="{{ url_for('static', filename='images/' + slides[0]['image_url']) }}">
    </div>
    <!-- 保存ボタン -->
    <button type="submit" onclick="saveSlide()">Save</button>

    <!-- スライド一覧表示部分　INDEX -->
    {% for slide in slides %}
    <p>{{ slide['title'] }}</p>
    <img class="card-img" src="{{ url_for('static', filename='images/' + slide['image_url']) }}" alt="{{ image }}"
        onclick="previewImage(this,slide['order'])">
    {% endfor %}

    <!-- ライブラリを一覧表示　INDEX -->
    <h1>Images</h1>
    {% if images %}
    {% for image in images %}
    <img class="card-img" src="{{ url_for('static', filename='images/' + image) }}" alt="{{ image }}"
        onclick="previewImage(this)">
    {% endfor %}
    {% else %}
    <p>No images found.</p>
    {% endif %}

    <!-- JavaScript -->

    <script>
        // 現在選択中のスライド番号
        var order_preview = 0;
        var image_preview = "";

        // プレビュー画像の表示　＆　選択した画像　｜　スライド情報の取得
        function previewImage(img, order = order_preview) {
            var preview = document.getElementById("preview-image");
            preview.src = img.src;
            order_preview = order;
            image_preview = img.alt;
        }

        function saveSlide() {
            // プレビューに表示中画像のimage_urlを取得
            var selectedImageUrl = image_preview;//document.getElementById("preview-image").src;

            // order_previewとtitleを含むリストを作成
            var data = [{
                'order': 0,
                'title': "update",
                'image_url': image_preview
            }];

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/save_slide');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('Data sent successfully!');
                }
            };
            xhr.send(JSON.stringify({ 'data': data }));
        }
    </script>
</body>

</html>